{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'pybo/style.css' %}"
    />
    <script
      src="https://kit.fontawesome.com/9c50925554.js"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'geeknavbar.js' %}" defer></script>
    <title>Django</title>
  </head>
  <body>
    {% include "geeknavbar.html" %} {% block content %} {% endblock %}
    <script src="{% static 'jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>
