<nav class="geeknavbar">
  <div class="geeknavbar__logo">
    <i class="fab fa-accusoft"></i>
    <a href="{% url "pybo:index" %}">GeekJeeyoung</a>
  </div>

  <div class="geeknavbar__menu">
    <span><a href="">Home</a></span>
    <span><a href="">Gallery</a></span>
    <span><a href="{% url "pybo:index" %}">Forum</a></span>
    <span><a href="">Contacts</a></span>
    {% if user.is_authenticated %}
    <span style="color: #DEE4EB;"><a href="{% url 'common:logout' %}">{{ user.username }} [Logout]</a></span>
    {% else %}
    <span><a href="{% url 'common:login' %}">Login</a></span>
    {% endif %}
  </div>

  

  <div class="geeknavbar__icons">
    <span><i class="fab fa-twitter"></i></span>
    <span><i class="fab fa-facebook-square"></i></span>
  </div>

  
  <a href="#" class="geeknavbar__toggleBtn">
    <i class="fas fa-paw"></i>
  </a>
</nav>
